/* Navigation and general use*/

#horznav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 50px;
}

#horznav ul li{
  float: left; 
  width: 33.33%;
}

#horznav ul li a{
  display: block;
  color: white;
  background-color: navy;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
  font-size: 225%;
  text-align: center; 
  overflow: hidden;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
}

#horznav ul li a:hover{
  background-color: red;
  text-decoration: underline;
  border-radius: 30%;
}

#horznav #onpage{
  text-decoration: underline;
  background-color: red;
  border-radius: 30%;
}

.clear{
  clear: both;  
}

.centertext{
	text-align: center;
}

/*PB&J*/

#pagetop{
  width: 50%;
  margin: auto;  
}

iframe{
  height: 300px;
  width: 50%;
}

.instructionsleft{
  position: relative;
  left: 1%;
  float: left;  
  box-sizing: border-box;
  width: 48.75%;
  margin-right: 1.25%;
  padding: .5%;
}

.instructionsleft ul{
  list-style: upper-roman;  
}

.peanut{
  background-color: rgb(207,155,87);
  color: white; 
  font-size: large;  
}

.jelly{
  background-color: rgb(196,47,112);
  color: white; 
  font-size: large;  
}

#pbback{
  background-image: url("../images/pbj.jpg");	
}

/*Resume*/


#resback{
  background-color: silver;	
}

#resback h2{
  color: orange;
  border-top: solid thick darkviolet;
  border-bottom: solid thick darkviolet;
  box-sizing: border-box;
  width: 12.5%;
  margin: 2.5% auto; 
  font-family: 'Bebas Neue', cursive;
  position: relative;
  top: 10px;
  background-color: gray;
}
#resback h3{
  border-bottom: solid darkviolet;
  width: 10%;
  margin: 2% auto;
}

#resback p{
  width: 40%;
  margin: auto;
  
}

h1{
  font-family: 'Bebas Neue', cursive;
}






