#horznav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 50px;
}

#horznav ul li{
  float: left; 
  width: 33.33%;
}

#horznav ul li a{
  display: block;
  color: white;
  background-color: navy;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
  font-size: 225%;
  text-align: center; 
  overflow: hidden;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
}

#horznav ul li a:hover{
  background-color: red;
  text-decoration: underline;
  border-radius: 30%;
}

#horznav #onpage{
  text-decoration: underline;
  background-color: red;
  border-radius: 30%;
}

.clear{
  clear: both;  
}

.centertext{
	text-align: center;
}

.instructionsleft{
  position: relative;
  left: 1%;
  float: left;
  color: green;  
  box-sizing: border-box;
  width: 48.75%;
  margin-right: 1.25%;
}

.instructionsleft ul{
  list-style: upper-roman;  
}

#resback{
  background-color: silver;
}

#resback h2{
  color: rgb(204, 102, 0);
  border: solid navy;
  box-sizing: border-box;
  width: 12.5%;
  margin: auto; 
  font-family: 'Bebas Neue', cursive;
  
}
#resback h3{
   
}

#resback p{
  width: 40%;
  margin: auto;
  
}

h1{
  font-family: 'Bebas Neue', cursive;
}

iframe{
  height: 300px;
  width: 30%;
}




