/* Navigation and general use*/

#horznav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 50px;
}

#horznav ul li{
  float: left; 
  width: 25%;
}

#horznav ul li a{
  display: block;
  color: white;
  background-color: navy;
  font-weight: bold;
  font-family: 'Squada One', cursive;
  font-size: 225%;
  text-align: center; 
  overflow: hidden;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
}

#horznav ul li a:hover{
  background-color: red;
  text-decoration: underline;
  border-radius: 30%;
}

#horznav #onpage{
  text-decoration: underline;
  background-color: red;
  border-radius: 30%;
}

h1{
  font-family: 'Bebas Neue', cursive;
}

.clear{
  clear: both;  
}

.centertext{
	text-align: center;
}

.instructionsleft{
  position: relative;
  left: 1%;
  float: left;  
  box-sizing: border-box;
  width: 48.75%;
  margin-right: 1.25%;
  padding: .5%;
}

.instructionsleft ul{
  list-style: upper-roman;  
}

/*Home page*/

#backblue{
  background-color: navy;
  color: white;
  width: 40%;
  height: 600px;
  position: relative;
  float: left;
  margin-left: 10%;
}

#backred{
  background-color: red;
  width: 40%;
  height: 600px;
  position: relative;
  float: right;
  margin-right: 10%;
}

#backgray{
  background-color: gray;
  color: orange;
  position: relative;
  width: 1000px;
  text-align: center;
  margin: auto;
}

#homeback{
	background-color: tan;
}

#homeback div{
	font-family: arial;
	font-size: 175%;
}

/*Resume*/


#resback{
  background-color: silver;	
}

#resback h2{
  color: orange;
  border-top: solid thick darkviolet;
  border-bottom: solid thick darkviolet; 
  font-family: 'Bebas Neue', cursive;
  background-color: gray;
  width: 105%;
}
#resback h3{
  border-bottom: solid darkviolet;
  width: 33%;
  margin: auto;
}

#resback p{
  font-size: 110%;
  
}

.section{
  position: relative;
  float: left; 
  box-sizing: border-box;
  width: 33%;
  font-size: 1.25em;
}

div.section ul li{
  list-style: none;
  margin: 10% auto;
  border-right: solid darkviolet;
  border-left: solid darkviolet;
  width: 33%;  
}

#contact{
  position: relative;
  list-style: none;
  text-align: left;  
  left: 44%;
}
/*PB&J*/

#pagetop{
  width: 50%;
  margin: auto; 
  font-family: 'Bebas Neue', cursive;  
}

iframe{
  height: 300px;
  width: 50%;
}


.peanut{
  background-color: rgb(207,155,87);
  color: white; 
  font-size: 150%;
}

.jelly{
  background-color: rgb(196,47,112);
  color: white; 
  font-size: 150%; 
}

#pbback{
  background-image: url("../images/pbj.jpg");	
}

/*Map*/

#map {
  height: 100%;
}

@media screen and (min-width: 600px){
	body{
		background-color: red;	
	}
	
}

@media all and (min-width: 300px) and (max-width: 599){
	section{
		clear: both;
		font-size: 25%;	
	}
}
